body {
  --q-primary: #7366ff;
  --q-primary-hover: #f1f0fd;
}

.q-form {
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 37px rgb(8 21 66 / 5%);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.q-field {
  background-color: #f3f3ff;
  height: 40px;
  &__control {
    height: 40px;
  }
}

.q-btn {
  &.bg-primary {
    background: #7366ff !important;
  }
}

.q-item {
  &.q-router-link--active {
    color: var(--q-primary);
    background-color: var(--q-primary-hover);
  }

  &--active {
    color: var(--q-primary);
    background-color: var(--q-primary-hover);
  }
}
